@font-face {
  font-family: C-reg;
  src: url("../font/Cinzel-Regular.ttf");
}

@font-face {
  font-family: C-var;
  src: url("../font/Cinzel-VariableFont_wght.ttf");
}

@font-face {
  font-family: SSP-reg;
  src: url("../font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: SSP-semibold;
  src: url("../font/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: SSP-black;
  src: url("../font/SourceSansPro-Black.ttf");
}

@font-face {
  font-family: SSP-light;
  src: url("../font/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: SSP-italic;
  src: url("../font/SourceSansPro-Italic.ttf");
}

.self-center {
  text-align: center;
}

.w-bg {
  background-color: #fff;
}

.wg-bg {
  background-color: #ededed;
}

.pale-blue-bg {
  background-color: #c3e1fb;
}

.yellow-bg {
  background-color: #f8fc77;
}

.wide-100 {
  width: 100%;
}

.wide-90 {
  width: 90%;
}

.wide-80 {
  width: 80%;
}

.wide-45 {
  width: 45%;
}

.wide-25 {
  width: 25%;
}

.w-10vw {
  width: 10vw;
}

.navtab {
  width: 10vw;
}

.img-embed {
  width: 30vw;
  height: 17vw;
}

.w-30vw {
  width: 30vw;
}

.w-37vw {
  width: 37vw;
}

.w-64vw {
  width: 64vw;
}

.h-21vw {
  height: 21vw;
}

.h-36vw {
  height: 36vw;
}

.h-45vh {
  height: 45vh;
}

.h-100vh {
  height: 100vh;
}

.img-news-room {
  width: 37vw;
}

.realtive {
  position: relative;
}

.absolute {
  position: absolute;
}

.ab-right-up {
  top: 1vw;
  right: 2vw;
  width: 15vw;
  height: 3vw;
  font-size: 1.2em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ab-right-second {
  top: 4.5vw;
  right: 2vw;
  width: 15vw;
  height: 3vw;
  font-size: 1.2em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ab-bottom {
  bottom: 0;
}

.right {
  align-self: right;
}

.lg-red-title {
  color: #da0037;
  font-size: 2vw;
  font-weight: bolder;
  font-family: C-reg, sans-serif;
}

.s-title {
  font-family: SSP-black, sans-serif;
  color: #da0037;
  font-size: 2.5 vw;
}

.n-title {
  font-family: SSP-black;
  color: #000;
  font-size: 2.5 vw;
}

.c-title {
  font-family: SSP-semibold, sans-serif;
  font-size: 1.5 vw;
}

.county-title {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: 900;
}

.hidden {
  display: none;
}

.italic {
  font-family: SSP-italic, sans-serif;
}

.reg-content {
  font-family: SSP-reg, sans-serif;
}

.light-content {
  font-family: SSP-light, sans-serif;
}

.fs-1 {
  font-size: 1vw;
}

.fs-1h {
  font-size: 1.5vw;
}

.pad-left-0 {
  padding-left: 0;
}

.pad-right-0 {
  padding-right: 0;
}

.pad-l-5px {
  padding-left: 5px;
}

.pad-3vw {
  padding: 3vw;
}

.pad-sm {
  padding: 1vw 1vw 1vw 3vw;
}

.pad-l-5vw-r-1vw {
  padding-left: 5vw;
  padding-right: 1vw;
}

.pad-l-1vw-r-5vw {
  padding-left: 1vw;
  padding-right: 5vw;
}

.pad-lr-5vw {
  padding-left: 5vw;
  padding-right: 5vw;
}

.m-l-10vw {
  margin-left: 10vw;
}

.m-l-12vw {
  margin-left: 12vw;
}

.m-l-5vw {
  margin-left: 5vw;
}

.m-r-5vw {
  margin-right: 5vw;
}

.m-r-1vw {
  margin-right: 1vw;
}

.m-l-1vw {
  margin-left: 1vw;
}

.link {
  color: #da0037;
  text-decoration: none;
  font-size: medium;
}

.link:hover {
  cursor: pointer;
  color: orange;
}

.toggle:hover {
  cursor: pointer;
  color: red;
}

.dp {
  display: flex;
}

.align-ct {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flow-column {
  flex-direction: column;
  justify-content: space-between;
}

.flow-column-end {
  flex-direction: column;
  justify-content: flex-end;
}

.self-end {
  align-self: flex-end;
}

.dp-jc-end {
  display: flex;
  justify-content: flex-end;
}

.dp-jc-center {
  display: flex;
  justify-content: center;
}

.dp-jc-between {
  display: flex;
  justify-content: space-between;
}

.dp-jc-space {
  display: flex;
  justify-content: space-around;
}

.dp-jc-start {
  display: flex;
  justify-content: flex-start;
}

.border-none {
  border: none;
}

.border-bt {
  border-top: none;
  border-left: none;
  border-right: none;
}

.border-black {
  border-color: #000;
  border-width: 1px;
}

.text-indent {
  text-indent: 2vw;
}

.ft-hr {
  width: 100%;
}

.ft-row {
  width: 90vw;
  margin-left: 5vw;
}

.ft-col-l {
  padding-left: 0;
}

.ft-text {
  font-size: 0.8em;
}

.cp-text {
  font-size: 0.8em;
}

.btn:focus {
  box-shadow: none;
}

.eventsQR {
  width: 10vw;
  margin-right: 3px;
}

.eventsQRBox {
  width: 25%;
  margin-right: 3px;
}

.scrollable {
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.home-map .google-map {
  width: 100%;
  height: 70vh;
}

.home-map {
  position: relative;
}
.enlargeIcon {
  position: absolute;
  top: -2px;
  right: 5px;
}

.event-map .google-map {
  width: 100%;
  height: 100vh;
}

.legend .icontip:hover {
  cursor: auto;
}

.break-word {
  word-wrap: break-word;
}

.higher {
  position: absolute;
  bottom: 5px;
}

@media (max-width: 768px) {
  .ab-right-up {
    top: 1vw;
    right: 2vw;
    width: 12vw;
    height: 3vw;
    font-size: 0.5em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ab-right-second {
    top: 5vw;
    right: 2vw;
    width: 12vw;
    height: 3vw;
    font-size: 0.5em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pad-l-5vw-r-1vw {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .pad-l-1vw-r-5vw {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .pad-sm {
    padding: 1vw 1vw 1vw 5vw;
  }

  .eventsQR {
    width: 25vw;
    margin-right: 3px;
  }

  .img-embed {
    width: 70vw;
    height: 38vw;
    margin-left: 8vw;
  }

  .img-news-room {
    width: 70vw;
    height: 38vw;
    margin-left: 8vw;
  }

  .fs-1 {
    font-size: 2vw;
  }

  .fs-1h {
    font-size: 3vw;
  }

  .link {
    color: #da0037;
    text-decoration: none;
    font-size: 3vw;
  }

  .border-option {
    border: 2px solid #ededed;
  }

  .lg-red-title {
    color: #da0037;
    font-size: 4vw;
    font-weight: bolder;
    font-family: C-reg, sans-serif;
  }

  .cp-text {
    font-size: 0.35em;
  }

  .navtab {
    width: 20vw;
  }

  .card .card-title {
    font-size: 3vw;
  }

  .county-title {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    font-weight: 900;
  }

  .toggle {
    font-size: 3vw;
  }

  .link:hover {
    cursor: pointer;
    color: red;
  }

  .toggle:hover {
    cursor: pointer;
    color: black;
  }

  .home-map .google-map {
    width: 100%;
    height: 30vh;
  }

  .events-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .events-container .events-list-container {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .events-container .events-map-container {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .ab-right-up {
    top: 1vw;
    right: 2vw;
    width: 15vw;
    height: 3vw;
    font-size: 0.8em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ab-right-second {
    top: 4.5vw;
    right: 2vw;
    width: 15vw;
    height: 3vw;
    font-size: 0.8em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pad-l-5vw-r-1vw {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .pad-l-1vw-r-5vw {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .img-embed {
    width: 70vw;
    height: 38vw;
    margin-left: 8vw;
  }

  .img-news-room {
    width: 70vw;
    height: 38vw;
    margin-left: 8vw;
  }

  .fs-1 {
    font-size: 1vw;
  }

  .fs-1h {
    font-size: 1.5vw;
  }

  .cp-text {
    font-size: 0.8em;
  }

  .border-option {
    border: 2px solid #ededed;
  }

  .navtab {
    width: 15vw;
  }

  .card .card-title {
    font-size: 2.5vw;
  }

  .link:hover {
    cursor: pointer;
    color: red;
  }

  .toggle:hover {
    cursor: pointer;
    color: black;
  }
  .events-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .events-container .events-list-container {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .events-container .events-map-container {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
